html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body, #root{
  height: 100vh;
  margin: 0;
}
body,input,select, textarea, button{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header" 
  "main" 
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header{
  grid-area: header;
  background-color: #203040;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: orange;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: #203040;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  display: flex;
  flex-wrap: wrap;
}
.main{
  flex:3 ;
}
.sidebar{
   flex: 1;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

}
.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product img{
  max-width: 37rem;
  max-height: 37rem;
}
.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div , .product-price button{
  text-align: center;
}
.product-price div{
  font-size: 2rem;
}
.button{
  padding: 1rem;
  border: 0.1rem rgb(168, 160, 160) solid;
  background-color: white;
  cursor: pointer;
}
.button:hover{
  border: 0.1rem rgb(168, 160, 160) solid;
}
.button.primary{
  background-color: rgb(218, 236, 54);
}
a{
  text-decoration: none;
}

.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem rgb(214, 206, 206) solid;
}
.filter div{
  flex: 1;
}
/* Index.css */
.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;

}
.cart-header{
  border-bottom: 0.1rem #c0c0c0 solid ;
}
.cart-items{
 padding: 0;
 width: 100%;
 list-style-type: none; 
}
.cart-items img{
  width: 5rem;
}
.cart-items li{
  display: flex;
}
.cart-items li div{
  padding: 0 .5rem;
}
.cart-items li div:last-child{
  flex: 1;
}
.right{
  text-align: right;
}
.total{
  display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.total > div{
  font-size: 2rem;
}
.total > div , .total > button{
  flex: 1;
}
/* checkout form */

.form-container{
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input{
  padding: 1rem;
  border: .1rem #c0c0c0 solid;
}
/* product details */
.product-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 100vh;
  max-height: 46rem;
  margin: 0 auto;
}
.product-details-description{
  flex:1 1;
  margin:1rem;
}
.close-modal{
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
.block{
  display: block;
}
.w-99{
  width: 99%;
}
.w-88{
  width: 88%;
}
.mb-15{
  margin-bottom: 15px;
}
.form-container-ap{
  display:flex;
  justify-content: center;
}
.label{
  font-size: larger;
  font-weight: 500;
}
.submit-button{
  padding: 8px;
}
.page-title{
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 25px;
}
.admin-button{
  padding: 5px;
  background: skyblue;
  border-radius: 6px;
  margin-left: 7px;
  margin-right: 5px;
  cursor: pointer;
}
.text-center{
  text-align: center;
}